/bin/offlineimap.pyc
/.emacs.d/ido.last
/.emacs.d/recentf
/.emacs.d/saveplace
/.emacs.d/smex-items
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/url/
/.emacs.d/flycheck_init.el
/.emacs.d/tramp
/.emacs.d/eshell/history
/.emacs.d/eshell/lastdir
/.emacs.d/helm-adaptive-history
/.emacs.d/projectile.cache
/.emacs.d/server/
/bin/spw.pyc
.gnupg/secring.gpg
.gnupg/pubring.gpg
/.xmonad/xmonad-i386-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.config/sonata/art_cache
/.config/gtk-3.0/bookmarks
/.config/systemd/user/default.target.wants/mpd.service
