# -*- mode: conf; -*-

[user]
	name = Sean Whitton
	email = spwhitton@spwhitton.name

[alias]
        # Convenient sync alias from
        # http://stackoverflow.com/a/17722977.  Updates master while
        # allowing only fast-forward merges and does not require
        # checking out master; can remain on current branch
        sync = "!git checkout --quiet HEAD; git fetch origin master:master; git checkout --quiet -"

        # nice way to view history (most recent 30 commits).  ov
        # ('overview') collapses linear commits with addition of
        # --simplify-by-decoration
        v  = log --graph --full-history -n 30 --decorate --oneline --branches --all
        ov = log --graph --full-history -n 30 --decorate --oneline --branches --all --simplify-by-decoration
        co = checkout

        # "git exec blah" runs blah from the root of the worktree since shell
        # alias are always run from the root of the worktree

        # http://stackoverflow.com/questions/957928/is-there-a-way-to-get-the-git-root-directory-in-one-command#comment9747528_957978
	exec = "!exec "

[core]
        # no pager thanks
	pager = 
	excludesfile = ~/.globgitignore

[url "git@spwhitton.name:"]
     pushInsteadOf = https://git.spwhitton.name/
     pushInsteadOf = athena:
     # private repositories must clone by SSH
     insteadOf = athenap:
[url "https://git.spwhitton.name/"]
     insteadOf = git://spwhitton.name/
     insteadOf = athena:
[url "swhitton@athena.silentflame.com:"]
     insteadOf = athenah:

[url "git@github.com:"]
    pushInsteadOf = https://github.com/
    pushInsteadOf = http://github.com/
    pushInsteadOf = git://github.com/
    pushInsteadOf = github:
[url "https://github.com/"]
    insteadOf = https://github.com/
    insteadOf = http://github.com/
    insteadOf = git://github.com/
    insteadOf = github:

# alt, that permits shallow checkouts and removes need for
# pushInsteadOf: [url "git+ssh://git.debian.org/git/"]
[url "https://anonscm.debian.org/git/"]
     insteadOf = alioth:
     insteadOf = git://anonscm.debian.org/
     insteadOf = git://git.debian.org/
     # insteadOf = https://anonscm.debian.org/git/
     # insteadOf = https://anonscm.debian.org/cgit/
     insteadOf = http://anonscm.debian.org/git/
     insteadOf = http://anonscm.debian.org/cgit/
[url "spw-guest@git.debian.org:/git/"]
     pushInsteadOf = alioth:
     pushInsteadOf = git://anonscm.debian.org/
     pushInsteadOf = git://git.debian.org/
     # pushInsteadOf = https://anonscm.debian.org/git/
     # pushInsteadOf = https://anonscm.debian.org/cgit/
     pushInsteadOf = http://anonscm.debian.org/git/
     pushInsteadOf = http://anonscm.debian.org/cgit/
     pushInsteadOf = https://anonscm.debian.org/git/
     pushInsteadOf = https://anonscm.debian.org/cgit/

# temporary redirects
[url "git@spwhitton.name:dotfiles.git"]
     insteadOf = https://github.com/spwhitton/dotfiles.git
     pushInsteadOf = https://github.com/spwhitton/dotfiles.git
# [url "git@spwhitton.name:propellor.git"]
#      insteadOf = https://github.com/spwhitton/propellor.git

# turn colour on in as many places as possible
[color]
        ui = true
        branch = auto
        diff = auto
        interactive = auto
        status = auto

# push strategy
[push]
        default = current
        # temporarily disabled to work around dgit bug
        followTags = false

# how to use git-send-email:
# <http://www.freedesktop.org/wiki/Software/PulseAudio/HowToUseGitSendEmail/>
# &
# <https://burzalodowa.wordpress.com/2013/10/05/how-to-send-patches-with-git-send-email/>
[sendemail]
        aliasesfile = ~/doc/mutt-aliases
        aliasfiletype = mutt
        confirm = always
        multiedit = false
        from = Sean Whitton <spwhitton@spwhitton.name>
        annotate = true

[merge "dpkg-mergechangelogs"]
       name = debian/changelog merge driver
       driver = dpkg-mergechangelogs -m %O %A %B %A

[gcrypt]
	publish-participants = true
	participants = 0x0F56D0553B6D411B

# make git-archive(1) DTRT with -o foo.tar.{xz,gz}
[tar "tar.xz"]
	command = xz -c
[tar "tar.gz"]
	command = gzip -c

# dgit configuration
[dgit "default"]
        # just clean in the most aggressive way dgit knows how
        clean-mode = git-ff
        rm-old-changes = true
        distro = debian
[dgit-distro "debian"]
        # default to uploading by ssh.  Host-specific branches of
        # dotfiles repo can tweak this to ftp-master or ftp-eu if that
        # turns out to work better down their Internet pipes
        upload-host = ssh-upload
        keyid = 0x0F56D0553B6D411B
