/bin/offlineimap.pyc
/.emacs.d/ido.last
/.emacs.d/recentf
/.emacs.d/saveplace
/.emacs.d/smex-items
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/url/
/.emacs.d/flycheck_init.el
/.emacs.d/tramp
/.emacs.d/eshell/history
