# -*- mode: conf; -*-

[user]
	name = Sean Whitton
	email = spwhitton@spwhitton.name

[alias]
        # Convenient sync alias from
        # http://stackoverflow.com/a/17722977.  Updates master while
        # allowing only fast-forward merges and does not require
        # checking out master; can remain on current branch
        sync = "!git checkout --quiet HEAD; git fetch origin master:master; git checkout --quiet -"

        # nice way to view history (most recent 30 commits).  ov
        # ('overview') collapses linear commits with addition of
        # --simplify-by-decoration
        v  = log --graph --full-history -n 30 --decorate --oneline --branches --all
        ov = log --graph --full-history -n 30 --decorate --oneline --branches --all --simplify-by-decoration
        co = checkout

[core]
        # no pager thanks
	pager = 
	excludesfile = ~/.globgitignore

[url "git@spwhitton.name:"]
     pushInsteadOf = https://git.spwhitton.name/
     pushInsteadOf = athena:
[url "https://git.spwhitton.name/"]
     insteadOf = git://spwhitton.name/
     insteadOf = athena:

[url "git@github.com:"]
    pushInsteadOf = https://github.com/
    pushInsteadOf = http://github.com/
    pushInsteadOf = git://github.com/
    pushInsteadOf = github:
[url "https://github.com/"]
    insteadOf = https://github.com/
    insteadOf = http://github.com/
    insteadOf = git://github.com/
    insteadOf = github:

# temporary redirects
[url "git@spwhitton.name:dotfiles.git"]
     insteadOf = https://github.com/spwhitton/dotfiles.git
     pushInsteadOf = https://github.com/spwhitton/dotfiles.git
# [url "git@spwhitton.name:propellor.git"]
#      insteadOf = https://github.com/spwhitton/propellor.git

# turn colour on in as many places as possible
[color]
        ui = true
        branch = auto
        diff = auto
        interactive = auto
        status = auto

# push strategy
[push]
	default = current

# how to use git-send-email:
# <http://www.freedesktop.org/wiki/Software/PulseAudio/HowToUseGitSendEmail/>
# &
# <https://burzalodowa.wordpress.com/2013/10/05/how-to-send-patches-with-git-send-email/>
[sendemail]
        aliasesfile = ~/doc/mutt-aliases
        aliasfiletype = mutt
        confirm = always
        multiedit = false
        from = Sean Whitton <spwhitton@spwhitton.name>
        annotate = true
