# -*- mode: conf; -*-

[user]
	name = Sean Whitton
	email = spw@sdf.org

[alias]
        # Convenient sync alias from
        # http://stackoverflow.com/a/17722977.  Updates master while
        # allowing only fast-forward merges and does not require
        # checking out master; can remain on current branch
        sync = "!git checkout --quiet HEAD; git fetch origin master:master; git checkout --quiet -"

        # nice way to view history (most recent 30 commits).  ov
        # ('overview') collapses linear commits with addition of
        # --simplify-by-decoration
        v  = log --graph --full-history -n 30 --decorate --oneline --branches --all
        ov = log --graph --full-history -n 30 --decorate --oneline --branches --all --simplify-by-decoration
        co = checkout

[core]
        # no pager thanks
	pager = 
	excludesfile = ~/.globgitignore

# my personal repositories cloned via HTTP must be pushed via SSH
[url "ssh://ma/~/local/git/"]
     pushInsteadOf = http://spw.sdf.org/git/

# turn colour on in as many places as possible
[color]
        ui = true
        branch = auto
        diff = auto
        interactive = auto
        status = auto

# push strategy
[push]
	default = matching
[magit]
	extension = wip-save
