[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xstartup
Comment=Sean's X session startup script
Exec=/home/swhitton/bin/xstartup
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

